.navBar{
	background-color: #333e4a;
	border-color: #707070;
	height: 100vh;
	border: solid #707070;
	padding: 0px;
}

.InNav{
	font-size: 36px;
	color: #F6E2BD;
	border-bottom: solid #F6E2BD;
	height: calc(100vh / 3);
	text-align: center;
	line-height: calc(100vh / 3);
}

.InNav:hover{
	background-color: #707070;
}